* {
  margin: 0;
  padding: 0;
}

.main_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_container {
  display: flex;
  width: 100%;
  height: 8%;
  color: #fff;
  background-color: black;
  flex-direction: row;
  padding-left: 20px;
  align-items: center;
  font-size: 20px;
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
}

.links_container {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  list-style: none;
}

.right {
  margin-left: auto;
}

.link {
  text-decoration: none;
  margin: 0px 10px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px;
}

.home_container {
  display: flex;
  flex-direction: column;
  height: 92%;
}

.input_container {
  width: 100vw;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eee;
}

.input_container input[type="text"] {
  width: 40%;
  margin: 10px;
  font-size: 18px;
  padding: 18px 10px;
  border: 3px solid #000;
  color: #000;
  outline: none;
}

.input_container input[type="submit"] {
  width: 10%;
  margin: 10px;
  font-size: 18px;
  border: 3px solid #000;
  color: #000;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}

.input_container input[type="submit"]:hover {
  color: #fff;
  background-color: #000;
}

.overflow_container {
  width: 100%;
  height: 92%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gifs {
  width: 95%;
  margin-top: 20px;
  column-count: 1;
  column-gap: 5px;
}

@media screen and (min-width: 400px) {
  .gifs {
    column-count: 1;
  }
}

@media screen and (min-width: 600px) {
  .gifs {
    column-count: 2;
  }
}

@media screen and (min-width: 800px) {
  .gifs {
    column-count: 3;
  }
}

@media screen and (min-width: 1100px) {
  .gifs {
    column-count: 4;
  }
}

.gif {
  position: relative;
  width: 100%;
  height: auto;
}

.gif img {
  height: 100%;
  width: 100%;
}

.hide {
  opacity: 0;
  min-width: 300px;
  min-height: 300px;
}

/* about */

.about_container {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_title {
  font-size: 35px;
  letter-spacing: 3px;
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 30px 0px;
}

/* loader */

.loader {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered {
  width: 400px;
  height: 400px;
  position: relative;
}
.blob-1,
.blob-2 {
  width: 70px;
  height: 70px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blob-1 {
  left: 20%;
  animation: osc-l 2.5s ease infinite;
}
.blob-2 {
  left: 80%;
  animation: osc-r 2.5s ease infinite;
  background: #000;
}
@keyframes osc-l {
  0% {
    left: 20%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 20%;
  }
}
@keyframes osc-r {
  0% {
    left: 60%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 60%;
  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 40%;
  top: 40%;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.overflow_container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.overflow_container::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.overflow_container::-webkit-scrollbar-thumb {
  background-color: #000;
}
